body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
}

#site-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: none;
}

#corporate-logo {

}

#nav-menu {

}

.nav-number {

}

.nav-worktime {

}

.first-view {

}

.key-visual {

}

.main-title {
    position: absolute;
    top: 200px;
    left: 200px;
}

.sub-title {
    font-family: "HiraKakuPro-W6", "Meiryo", sans-serif;
    font-weight: bold;
    font-size: 42px;
    color: #ff66a7;
}

.top-title {
    
}

.description {

}

.str-point {

}

.service-satisfaction {

}

.request-btn {
    width: 514px;
    height: 64px;
    color: #fff;
    border-radius: 100vh;
    background: -moz-linear-gradient(left, #f6c314, #ff65aa);
    background: -webkit-linear-gradient(left, #f6c314, #ff65aa);
    background: linear-gradient(to right, #f6c314, #ff65aa);
}

.request-btn a {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 15px 65px;
}

.model-text {

}