#site-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: none;
}

#corporate-logo {

}

#nav-menu {

}

.nav-number {

}

.nav-worktime {

}

.first-view {

}

.key-visual {

}

.main-title {
    position: absolute;
    top: 200px;
    left: 200px;
}

.deco-title {

}

.sub-title {

}

.top-title {
    
}

.description {

}

.str-point {

}

.service-satisfaction {

}

.request-btn {

}

.model-text {
    
}